html {
  box-sizing: border-box;

}
body {
  background-image: url('../images/background-image.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  height: 100%;
  /* background-color: #f2f5f7; */

}


.logo {
  float : left;
  width: 79px;
  height: 25px;
  font-family: SourceSerifPro;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

nav a {
  list-style-type: none;
  margin: 30px;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
  float: right;
}

.clear-float {
  clear: both;
}

.menu-icon {
  width: 23px;
 
}

.right-links {
  font-family: SourceSerifPro;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8798a4;
}

/* Header */

header {
    margin:  5em;
}


h1, h5 {
  text-align: center;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: SourceSerifPro;
  color: #ffffff;
}

h5 {
  
  opacity: 0.5;
  font-size: 18px;

}

h1 {
  
  font-size: 36px;

}

.main {
    background-color: white;
    width: 90%;
    margin: 15% 5% 10% 5%;
    box-shadow: 0 2px 4px 0 rgba(135, 152, 164, 0.3);
    height: 650px;

}

.boxing {
    width: 80%;
    margin-top : 0%;
}

.column {
    border-radius: 0.5em;
    margin: 1%;
    float: right;
    width: 30%;
    height: 34%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(135, 152, 164, 0.3);
}

.content-navbar {
    text-align: center;

}




div.main-nav {
    width: 90%;
    font-size: 12px;
    margin-left: 5%;
}

.row {
    align-content: center;
    margin-left: 20%;
}



.sub-head-left {
    float: left;
    font-family: SourceSerifPro;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #24292c;
}

.sub-head-right{
    float: right;
    font-family: SourceSerifPro;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #24292c;
}

.column>span :hover {
    border: #5c5d5e 1px solid;
    cursor: pointer;
}

div>img {
    border: 0;
    margin: 0;
    padding: 0;
    width: 20px;
}

div>img+span {
    font-size: 12px;
    margin-bottom: 20px;
}

span+h2 {
    font-weight: 700;
}

h2+span+div {
    margin: 10px auto; 
    border-bottom: solid 1px #e5e7e9;
}

div>div>span>img {
    width: 100%;
}

.next-page {
    margin-left: 87%;
    margin-top: 20px;
}

.next-page>span {
    color: #24292c;
    cursor: pointer;
}


footer {
background-image: linear-gradient(86deg, #0b0e2d, #0b0414);
}



@media only screen and (max-width: 800px) {

     .right-links {
       display: none;
      }

      .sub-head-left {
        float: none;
        font-family: SourceSerifPro;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #24292c;
      display: block;
    }
    
    .sub-head-right{
        float: none;
        font-family: SourceSerifPro;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #24292c;
      display: block;
    }
      
        

}